[submodule "pat"]
	path = pat
	url = git@github.com:oblivia-simplex/pat
[submodule "iprange"]
	path = iprange
	url = git@github.com:oblivia-simplex/iprange
[submodule "tmux_ptyneas"]
	path = tmux-plugins/tmux-ptyneas
	url = git@github.com:oblivia-simplex/tmux_ptyneas
[submodule "monsoon"]
	path = monsoon
	url = git@github.com:oblivia-simplex/monsoon
[submodule "tmux-enum"]
	path = tmux-plugins/tmux-enum
	url = git@github.com:oblivia-simplex/tmux-enum
